* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.navbar-wrapper {
  background-color: #20232a;
  /* border: 5px solid red; */
  height: 12vh;
}

.nava {
  width: 75%;
  margin: auto;
  /* border:2px solid forestgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
.logo-name {
  color: #61dafb;
  font-size: 22px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
}

.ns-nav {
  display: flex;
}

.ns-nav li {
  list-style: none;
  padding: 10px;
  font-size: 18px;
}

.maincontent-wrapper {
  background-color: #282c34;
  /* border: 6px solid darkgreen; */
  overflow: auto;
  height: 100vh;
  background-image: url("./img/download.svg");
  background-repeat: no-repeat;
  background-position:right 75%;
}

.maincontent {
  width: 75%;
  margin: auto;
  /* border:5px solid darkblue; */
  margin-top: 30px;
}

.ns-lst {
  margin-top: 50px;
  margin-left: 30px;
}

/* ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  } */
.ns-lst li {
  list-style: none;
  padding: 6px;
}
.ns-lst li::before {
  content: "\2022";
  color: #61dafb;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
}
